<div class="usersComponent">
  <div *ngFor="let user of allUsersData">
    <div class="card">
      <div class="profile-username" style="padding-left: 15px">
        <div class="col-1 profile-div">
          <img
            class="profile-image"
            [src]="
              user.profilePic != null
                ? user.profilePic
                : '../../../assets/default.png'
            "
          />
        </div>
        <div class="col-8 profile-name">
          <p class="user-font1">{{ user.firstName }} {{ user.lastName }}</p>
          <p class="user-font2">{{ user.userName }}</p>
        </div>
        <!-- [ngClass]="user.friend == true ? 'unfollowButton' : ''" -->
        <div
          class="col-3 button"
          
          style="text-align: center"
        >
          <button
            pButton
            type="button"
            (click)="addFriend(user.id)"
            style="font-size: 1.3rem"
          >
            <span *ngIf="user.friend == true">Unfollow</span>
            <span *ngIf="user.friend == false">Follow</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="allUsersData.length == 0">
    <br /><br /><br />
    <h1 style="text-align: center">No Users To Follow</h1>
  </div>
</div>

<!-- <input type="text" pInputText /> -->
