<div class="dashboardContainer flex">
  <div
    class="col-3 sidenav"
    style="overflow: hidden; display: flex; justify-content: center"
  >
    <div style="position: fixed">
      <app-sidenav></app-sidenav>
    </div>
  </div>
  <div class="col-6 mt-0 pt-0">
    <div class="header">
      <h2>{{ this.componentHeaderName | titlecase }}</h2>
    </div>
    <router-outlet (activate)="fetchComponentHeaderName()"></router-outlet>
  </div>
  <div class="col-3">
    <div style="position: fixed; min-width: 24%">
      <app-globalsearch></app-globalsearch>
    </div>
  </div>
</div>
