@import "../../../global.scss";
aside{
    flex: 0.3; 
}

section{
    display: flex;
    height: 100vh;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
}

.aside_input{
    display: flex;
    align-items: center;
    background-color: $secondary;
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 20px;
}

.aside_input input{
    border: none;
    background-color: $secondary;
    outline: none;
}

.aside_search-icon{
    color: gray;
}

.aside_container{
    margin-top: 15px;
    margin-left: 20px;
    // margin-right: 20px;
    padding: 20px;
    background-color: #f5f8fa;
    border-radius: 20px;
}

.aside_container h2{
    font-size: 18px;
    font-weight: 800;
}