

  .google-button {
    margin-top: 0.5rem;
    max-width: 300px;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    display: flex;
    padding: 0.5rem 1rem;
    border: 1px solid gray;
    border-radius: 20px;
    color: black;
  }

  .google-logo {
    margin-top: 3px;
    padding-right: 5px;
    width: 15px;
    height: 15px;
  }