<div class="authBlock card">
    <h3 class="text-center">welcome to Logistics Space</h3>
      <!-- <div class="formGroup">
              <input
                type="text"
                class="formControl"
                placeholder="Username"
                #userName
                required
              />
            </div>
      
            <div class="formGroup">
              <input
                type="password"
                class="formControl"
                placeholder="Password"
                #userPassword
                required
              />
            </div> -->
    
      <!-- Calling SignIn Api from AuthService -->
      <!-- <div class="formGroup">
              <input
                type="button"
                class="btn btnPrimary"
                value="Log in"
                (click)="authService.SignIn(userName.value, userPassword.value)"
              />
            </div>
      
            <div class="formGroup">
              <span class="or"><span class="orInner">Or</span></span>
            </div> -->
    
      <!-- Calling GoogleAuth Api from AuthService -->
      <button class="google-btn" (click)="authService.GoogleAuth()">
        <span class="google-icon">
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"
            alt="Google Icon" />
        </span>
        <span class="google-text">Sign in with Google</span>
      </button>
      <br>
    
      <!-- <div class="forgotPassword">
              <span routerLink="/forgot-password">Forgot Password?</span>
            </div> -->
    </div>
    <!-- 
          <div class="redirectToLogin">
            <span
              >Don't have an account?<span
                class="redirect"
                routerLink="/register-user"
              >
                Sign Up</span
              ></span
            >
          </div> -->
