
    <div class="google-button">
        <img (click)="route()" src='../../../assets/google.png' class="google-logo"/> Continue with google
    </div>
    <button (click)="route()">login</button>
    <!-- <section> 
    
         nav bar starts 
        <nav >
            <div class="nav_logo-wrapper">
                <svg class="nav_logo" viewBox="0 0 24 24" aria-hidden="true" class="r-1cvl2hr r-4qtqp9 r-yyyyoo r-16y2uox r-8kz0gk r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-lrsllp"><g><path d="M23.643 4.937c-.835.37-1.732.62-2.675.733.962-.576 1.7-1.49 2.048-2.578-.9.534-1.897.922-2.958 1.13-.85-.904-2.06-1.47-3.4-1.47-2.572 0-4.658 2.086-4.658 4.66 0 .364.042.718.12 1.06-3.873-.195-7.304-2.05-9.602-4.868-.4.69-.63 1.49-.63 2.342 0 1.616.823 3.043 2.072 3.878-.764-.025-1.482-.234-2.11-.583v.06c0 2.257 1.605 4.14 3.737 4.568-.392.106-.803.162-1.227.162-.3 0-.593-.028-.877-.082.593 1.85 2.313 3.198 4.352 3.234-1.595 1.25-3.604 1.995-5.786 1.995-.376 0-.747-.022-1.112-.065 2.062 1.323 4.51 2.093 7.14 2.093 8.57 0 13.255-7.098 13.255-13.254 0-.2-.005-.402-.014-.602.91-.658 1.7-1.477 2.323-2.41z"></path></g></svg>
                <h1 class="nav_logo">Logistics Space</h1>
            </div>
    
            <div class="Menu_options active">
                <span class="material-icons"><i class="pi pi-home"></i></span>
                <h2>Home</h2>
            </div>
    
            <div class="Menu_options">
                <span class="material-icons"><i class="pi pi-users"></i></span>
                <h2>Friends</h2>
            </div>
    
            <div class="Menu_options">
                <span class="material-icons"><i class="pi pi-user"></i></span>
                <h2>Profile</h2>
            </div>
    
            <div class="Menu_options">
                <span class="material-icons"><i class="pi pi-sitemap"></i></span>
                <h2>Groups</h2>
            </div>
    
            <div class="Menu_options">
                <span class="material-icons"><i class="pi pi-cog"></i></span>
                <h2>Settings</h2>
            </div>
    
    
            <button class="post_btn">Whats In Your Mind</button>
    
    
        </nav>
         nav bar end 
    
      
         main section start 
        <main>
            <div class="header">
                <h2>Home</h2>
            </div>
    
            <div class="post_box">
                <form>
                    <div class="post_box-input">
                        <img src="https://gumlet.assettype.com/pratidintime%2F2023-01%2F968cca48-018f-4801-a79e-88cb59223a7b%2FPratidin_Webstory.png?format=auto" alt="profile imagw">
                        <input type="text" placeholder="What's happening?">
                        <button class="">Post</button>
    
                    </div>
                </form>
    
            </div>
    
            <div class="post">
                <div class="post_profile-image">
                    <img src="https://gumlet.assettype.com/pratidintime%2F2023-01%2F968cca48-018f-4801-a79e-88cb59223a7b%2FPratidin_Webstory.png?format=auto" alt="java-logo">
    
                </div>
    
                <div class="post_body">
                    <div class="post_header">
                        <div class="post_header-text">
                            <h3>Uday_Bhaskar -->
                                <!-- <span class="header-icon-section">
                                    <span class="material-icons post_badge">verified</span>@java
                                </span> -->
                            <!-- </h3>
                        </div>
    
                        <div class="post_header-discription">
                            <p>15M ago</p> -->
                            <!-- <br>
                            <p>Download now: https://social.ora.cl/6012KoqQ0 <br>
                                Release notes: https://social.ora.cl/6013KoqQF <br>
                                
                                </p> -->
                        <!-- </div>
                        
                    </div>
                    <img src="https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Y29tcGFueSUyMHByb2ZpbGV8ZW58MHx8MHx8&w=1000&q=80" alt="java18">
    
                    <div class="post_footer">
                        <i class="pi pi-heart"></i>
                        <i class="pi pi-comment"></i>
                        <i class="pi pi-share-alt"></i> -->
                       
                        <!-- <span class="material-icons">file_upload</span> -->
                        
    
                    <!-- </div> -->
    
                <!-- </div>
    
            </div>
    
            <div class="post">
                <div class="post_profile-image">
                    <img src="https://gumlet.assettype.com/pratidintime%2F2023-01%2F968cca48-018f-4801-a79e-88cb59223a7b%2FPratidin_Webstory.png?format=auto" alt="java-logo">
    
                </div>
    
                <div class="post_body">
                    <div class="post_header">
                        <div class="post_header-text">
                            <h3>Crazy-boy
                            <span class="header-icon-section">
                                    <span class="material-icons post_badge">verified</span>@java
                                </span>
                            </h3>
                        </div>
    
                        <div class="post_header-discription">
                            <p>1Hr Ago </p>
                            
                            
                        </div>
                        
                    </div>
                    <img src="https://img.freepik.com/premium-photo/human-resources-information-system-specialist-marketplace-with-digital-cards-contain-profile-information-user-rating-man-hand-typing-laptop-keyboard-background-double-exposure_670147-1152.jpg" alt="java18">
    
                    <div class="post_footer">
    
                        <i class="pi pi-heart"></i>
                        <i class="pi pi-comment"></i>
                        <i class="pi pi-share-alt"></i> -->
                        <!-- <span class="material-icons">file_upload</span> -->
                        
<!--     
                    </div>
    
                </div>
    
            </div>
    
    
            <div class="post">
                <div class="post_profile-image">
                    <img src="https://gumlet.assettype.com/pratidintime%2F2023-01%2F968cca48-018f-4801-a79e-88cb59223a7b%2FPratidin_Webstory.png?format=auto" alt="java-logo">
    
                </div>
    
                <div class="post_body">
                    <div class="post_header">
                        <div class="post_header-text">
                            <h3>Master_mind -->
                                <!-- <span class="header-icon-section">
                                    <span class="material-icons post_badge">verified</span>@java
                                </span> -->
                            <!-- </h3>
                        </div>
    
                        <div class="post_header-discription">
                            <p>5 Days Ago</p>
                            
                        </div>
                        
                    </div>
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwiVmk8xECYpwcSBwvsrFawLKHEGGUT5JQ_w57FXE-VQ&usqp=CAU&ec=48665698" alt="java18">
    
                    <div class="post_footer">
    
                         <i class="pi pi-heart"></i>
                        <i class="pi pi-comment"></i>
                        <i class="pi pi-share-alt"></i> -->
                        <!-- <span class="material-icons">file_upload</span> -->
                        
    
                    <!-- </div>
    
                </div>
    
            </div>
    
        </main> -->
        <!-- main section end -->
    
        <!-- aside element start -->
        <!-- <aside>
    
            <div class="aside_input"> -->
                <!-- <span class="material-icons aside_search-icon">search</span> -->
                <!-- <i class="pi pi-search"></i>
                <input type="text" pInputText placeholder="Search Post">
     
            </div>
    
            <div class="aside_container">
                <h2>What's happening?</h2> -->
                <!-- <blockquote class="twitter-tweet"><p lang="en" dir="ltr">Save the date, because 
                    <a href="https://twitter.com/hashtag/JavaOne?src=hash&amp;ref_src=twsrc%5Etfw">#JavaOne</a> is back! Join the world’s premier 
                    <a href="https://twitter.com/hashtag/developer?src=hash&amp;ref_src=twsrc%5Etfw">#developer</a> conference in Las Vegas at 
                    <a href="https://twitter.com/Oracle?ref_src=twsrc%5Etfw">@Oracle</a> CloudWorld October 16–20, 2022.<br><br>Subscribe for the latest news about registration, the call for papers, luminary speakers, and more. 
                    <a href="https://t.co/hhSf3dMGc1">https://t.co/hhSf3dMGc1</a> <a href="https://t.co/OeDFukcM8K">pic.twitter.com/OeDFukcM8K</a></p>&mdash; Java (@java) 
                    <a href="https://twitter.com/java/status/1506310994112483328?ref_src=twsrc%5Etfw">March 22, 2022</a></blockquote> 
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->
                <!-- <h1>Everything is fine</h1>
            </div>
            
        </aside> -->
        <!-- aside element ends -->
    
        
    <!-- </section> -->
    <!-- </html>  -->

    