@import "../../../global.scss";

nav{
    flex: 0.2;
    // border-right: 1px solid $secondary;
    margin-top: 10px;
    padding-right: 20px;
}


.nav_logo{
    width: 200px;
    // height: 50px;
    // color: $primary;
    fill: currentColor;
    object-fit: cover;
}

.Menu_options{
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-left: 10px;
    // justify-content: center;
    // align-items: center;
    padding-left: 40px;
}

// .Menu_options .material-icons{
    // padding: 20px;
// }

.Menu_options h2{
    font-size: 20px;
    font-weight: bold;
    margin-right: 20px;
}

.Menu_options:hover{
    background-color: $secondary;
    border-radius: 30px;
    color: $primary;
}

.post_btn{
    width: 100%;
    background-color: $primary;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 30px;
    height: 50px;
    cursor: pointer;
}
.routingLinks{
    display: flex;
    align-items: center;
}

.prime-icons{
    padding-right:15px;
}

.activeLink{
    // background-color: $secondary;
    color: $primary;
}

@media screen and (max-width: 500px) {
     nav{
       display: none;
    }
  }
