<section>
  <main>
    <div class="post_box">
      <div class="grid">
        <div class="col-12 modelTextArea">
          <textarea
            [rows]="3"
            [cols]="30"
            maxlength="250"
            pInputTextarea
            [(ngModel)]="postContentText"
            placeholder="Type something..."
            [autoResize]="true"
          ></textarea>
          <!-- <p class="info-msgs">
              <i class="pi pi-info-circle"></i> &nbsp;
              <span style="position: relative; top: -2px">
                Left {{ bandDescriptionCount }} Characters
              </span>
            </p> -->
        </div>
        <div class="flex col-12" style="justify-content: space-between">
          <div style="padding-left: 10px; display: flex; align-items: center">
            <span>
              <input
                accept="image/png , image/jpeg"
                id="file-profile-picture"
                type="file"
                multiple
                (change)="postPictureUpload($event)"
                style="display: none"
              />
              <label for="file-profile-picture" class="uploadDefaultImage">
                <img
                  height="50px"
                  src="../../../assets/gallery 1.png"
                  alt="imageUpload"
                />
              </label>
            </span>
            <span
              style="padding-left: 10px; position: relative"
              *ngFor="let url of uploadImageUrls; let i = index"
            >
              <img class="uploadedImages" [src]="url" />

              <i
                class="pi pi-times uploadImageRemove"
                (click)="removeUploadImage(i)"
              ></i>
            </span>
          </div>

          <div>
            <span class="flex postButton"
              ><p-button
                label="Post"
                (click)="postContentPost()"
                [type]="'submit'"
                class="modelSaveButton"
              ></p-button
            ></span>
          </div>
        </div>
      </div>
    </div>

    <div>
      <div *ngFor="let item of postsData">
        <div class="card">
          <div class="flex bd-highlight">
            <div class="p-2 pt-0 bd-highlight">
              <img
                class="profile-img"
                [src]="
                  item.profilePic != null
                    ? item.profilePic
                    : '../../../assets/default.png'
                "
              />
            </div>
            <div class="p-2 bd-highlight">
              <p class="name">
                {{ item.firstName | titlecase }}
                {{ item.lastName | titlecase
                }}<span *ngIf="item.sharedPost == true">shared this post</span>
              </p>
              <p class="time">
                {{ item.time | time }}
              </p>
            </div>
            <div class="ml-auto p-2 bd-highlight">
              <!-- (click)="op.toggle($event)" -->
              <button class="profile-view">
                <i style="cursor: pointer" class="pi pi-ellipsis-h"></i>
              </button>
              <!-- <p-overlayPanel #op [dismissable]="true">
              <ng-template pTemplate>
                <span
                  (click)="deletePost(item.postId)"
                  class="deletePost cursor"
                  style="
                    color: red;
                    font-size: 18px;
                    font-family: Poppins;
                    cursor: pointer;
                  "
                >
                  Delete Post
                </span>
              </ng-template>
            </p-overlayPanel> -->
            </div>
          </div>

          <div *ngIf="!item.imageUrl">
            <p class="postFeedText caption">
              {{ item.post }}
            </p>
          </div>
          <div *ngIf="item.imageUrl">
            <p style="white-space: pre-wrap" class="imageCaption">
              {{ item.post }}
            </p>
            <div
              style="display: flex; justify-content: center; flex-wrap: wrap"
            >
              <!-- <span *ngFor="let image of item.imageUrl"> -->
              <img class="postImage" [src]="item.imageUrl" />
              <!-- </span> -->
            </div>
          </div>

          <div class="like-comment flex justify-content-between">
            <div>
              <span>{{ item.likeCount }} likes</span>
            </div>
            <div>
              <span (click)="getComments(item.postId)" style="cursor: pointer"
                >{{ item.commentCount }} comments</span
              >
            </div>
          </div>

          <div
            class="flex justify-content-around"
            style="
              border: 3px solid rgb(206 195 195);
              border-width: 1px 0px 0px 0px;
              padding-top: 11px;
              margin: 5px;
              margin-bottom: 0px;
            "
          >
            <div (click)="likePost(item.postId)" style="cursor: pointer">
              <i
                [ngClass]="item.like == true ? 'likeIcon' : ''"
                class="pi pi-heart"
              ></i>
            </div>
            <div
              style="cursor: pointer; display: flex; align-items: center"
              (click)="getComments(item.postId)"
            >
              <i style="cursor: pointer" class="pi pi-comments"></i>
            </div>
            <div style="display: flex; align-items: center">
              <i style="cursor: pointer" class="pi pi-share-alt"></i>
            </div>
          </div>

          <div
            [formGroup]="commentGroup"
            style="
              display: flex;
              justify-content: center;
              align-items: center;
              margin-top: 15px;
            "
          >
            <input
              type="text"
              pInputText
              class="for-text"
              formControlName="comment"
              placeholder="Write a comment..."
              (keydown.enter)="userPostComment(item.postId)"
              maxlength="30"
            />
            &nbsp; &nbsp;
            <i
              (click)="userPostComment(item.postId)"
              style="font-size: 21px; cursor: pointer"
              class="pi pi-send"
              aria-hidden="true"
            ></i>
          </div>
          <div
            *ngIf="commentId == item.postId && displayComments"
            style="padding-left: 40px; margin-top: 16px"
          >
            <div *ngFor="let item of commentData" class="flex bd-highlight">
              <div class="p-2 bd-highlight">
                <img
                  class="profile-img"
                  style="width: 50px; height: 50px; border-radius: 40px"
                  [src]="
                    item.profilePic != 'null'
                      ? item.profilePic
                      : '../../../assets/default.png'
                  "
                />
              </div>
              <div class="p-2 bd-highlight">
                <p class="commentName">
                  {{ item.firstName }} {{ item.lastName }}
                  <span class="commentTime">{{
                    item.commentsList.time | time
                  }}</span>
                </p>

                <p class="comment">
                  {{ item.commentsList.comment }}
                </p>
              </div>
            </div>
          </div>
          <div *ngIf="commentData.length == 0 && commentId == item.postId">
            <p
              style="
                text-align: center;
                margin-bottom: 0px;
                margin-top: 0px;
                color: #333;
              "
            >
              <b> No Comments To Display</b>
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- <router-outlet></router-outlet> -->
  </main>
</section>
