<section>
  <main>
    <div class="header">
      <h2>Home</h2>
    </div>

    <div class="post_box">
      <!-- <form>
            <div class="post_box-input">
                <img src="https://gumlet.assettype.com/pratidintime%2F2023-01%2F968cca48-018f-4801-a79e-88cb59223a7b%2FPratidin_Webstory.png?format=auto" alt="profile imagw">
                <input type="text" placeholder="What's happening?">
                <button class="">Post</button>

            </div>
        </form> -->
      <div class="grid">
        <div class="col-12 modelTextArea">
          <textarea
            [rows]="3"
            [cols]="30"
            maxlength="250"
            pInputTextarea
            [(ngModel)]="postContentText"
            placeholder="Type something..."
            [autoResize]="true"
          ></textarea>
          <!-- <p class="info-msgs">
              <i class="pi pi-info-circle"></i> &nbsp;
              <span style="position: relative; top: -2px">
                Left {{ bandDescriptionCount }} Characters
              </span>
            </p> -->
        </div>
        <div class="flex col-12" style="justify-content: space-between">
          <div style="padding-left: 10px; display: flex; align-items: center">
            <span>
              <input
                accept="image/png , image/jpeg"
                id="file-profile-picture"
                type="file"
                multiple
                (change)="postPictureUpload($event)"
                style="display: none"
              />
              <label
                for="file-profile-picture"
                style="
                  display: flex;
                  align-items: center;
                  font-size: 18px;
                  font-family: poppins;
                  color: black;
                  cursor: pointer;
                  margin-bottom: 10px;
                "
              >
                <img
                  height="50px"
                  src="../../../assets/gallery 1.png"
                  alt="imageUpload"
                />
              </label>
            </span>
            <!-- <span
                style="padding-left: 10px; position: relative"
                *ngFor="let url of imageUrls; let i = index"
              >
                <img height="65px" [src]="url" />

                <i
                  class="pi pi-times"
                  (click)="removeUploadImage(i)"
                  style="
                    color: red;
                    position: absolute;
                    right: 2px;
                    border-radius: 50%;
                    padding: 3px;
                    cursor: pointer;
                    top: 2px;
                    border: 1px solid white;
                    font-size: 11px;
                  "
                ></i>
              </span> -->
          </div>

          <div>
            <span class="flex postButton"
              ><p-button
                label="Post"
                (click)="postContentPost()"
                [type]="'submit'"
                class="modelSaveButton"
              ></p-button
            ></span>
          </div>
        </div>
      </div>
    </div>

    <div class="post">
      <div class="post_profile-image">
        <img
          src="https://gumlet.assettype.com/pratidintime%2F2023-01%2F968cca48-018f-4801-a79e-88cb59223a7b%2FPratidin_Webstory.png?format=auto"
          alt="java-logo"
        />
      </div>

      <div class="post_body">
        <div class="post_header">
          <div class="post_header-text">
            <h3>
              Uday_Bhaskar
              <!-- <span class="header-icon-section">
                            <span class="material-icons post_badge">verified</span>@java
                        </span> -->
            </h3>
          </div>

          <div class="post_header-discription">
            <p>15M ago</p>
            <!-- <br>
                    <p>Download now: https://social.ora.cl/6012KoqQ0 <br>
                        Release notes: https://social.ora.cl/6013KoqQF <br>
                        
                        </p> -->
          </div>
        </div>
        <img
          src="https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Y29tcGFueSUyMHByb2ZpbGV8ZW58MHx8MHx8&w=1000&q=80"
          alt="java18"
        />

        <div class="post_footer">
          <i class="pi pi-heart"></i>
          <i class="pi pi-comment"></i>
          <i class="pi pi-share-alt"></i>

          <!-- <span class="material-icons">file_upload</span> -->
        </div>
      </div>
    </div>

    <div class="post">
      <div class="post_profile-image">
        <img
          src="https://gumlet.assettype.com/pratidintime%2F2023-01%2F968cca48-018f-4801-a79e-88cb59223a7b%2FPratidin_Webstory.png?format=auto"
          alt="java-logo"
        />
      </div>

      <div class="post_body">
        <div class="post_header">
          <div class="post_header-text">
            <h3>
              Crazy-boy
              <!-- <span class="header-icon-section">
                            <span class="material-icons post_badge">verified</span>@java
                        </span> -->
            </h3>
          </div>

          <div class="post_header-discription">
            <p>1Hr Ago</p>
          </div>
        </div>
        <img
          src="https://img.freepik.com/premium-photo/human-resources-information-system-specialist-marketplace-with-digital-cards-contain-profile-information-user-rating-man-hand-typing-laptop-keyboard-background-double-exposure_670147-1152.jpg"
          alt="java18"
        />

        <div class="post_footer">
          <i class="pi pi-heart"></i>
          <i class="pi pi-comment"></i>
          <i class="pi pi-share-alt"></i>
          <!-- <span class="material-icons">file_upload</span> -->
        </div>
      </div>
    </div>

    <div class="post">
      <div class="post_profile-image">
        <img
          src="https://gumlet.assettype.com/pratidintime%2F2023-01%2F968cca48-018f-4801-a79e-88cb59223a7b%2FPratidin_Webstory.png?format=auto"
          alt="java-logo"
        />
      </div>

      <div class="post_body">
        <div class="post_header">
          <div class="post_header-text">
            <h3>
              Master_mind
              <!-- <span class="header-icon-section">
                            <span class="material-icons post_badge">verified</span>@java
                        </span> -->
            </h3>
          </div>

          <div class="post_header-discription">
            <p>5 Days Ago</p>
          </div>
        </div>
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwiVmk8xECYpwcSBwvsrFawLKHEGGUT5JQ_w57FXE-VQ&usqp=CAU&ec=48665698"
          alt="java18"
        />

        <div class="post_footer">
          <i class="pi pi-heart"></i>
          <i class="pi pi-comment"></i>
          <i class="pi pi-share-alt"></i>
          <!-- <span class="material-icons">file_upload</span> -->
        </div>
      </div>
    </div>
    <!-- <router-outlet></router-outlet> -->
  </main>
</section>
