@import "../../../global.scss";
main {
  flex: 0.5;
  border-right: 1px solid $secondary;
  border-left: 1px solid $secondary;
}
.post_box {
  border-bottom: 3px solid $secondary;
  padding-right: 10px;
}

.post_box form{
    display: flex;
    flex-direction: column;
}

.post_box-input{
    display: flex;
    padding: 20px;

}

.post_box-input input{
    flex: 1;
    margin-left: 20px;
    font-size: 20px;
    border: none;
    outline: none;
}

.post_box-input button{ 
    background-color: $primary;
    color: white;
    font-weight: bold;
    border-radius: 30px;
    border: none;
    width: 80px;
    height: 40px;
    margin-top: 20px;
    margin-left: auto; 
}

.post_profile-image img{
    border-radius: 50%;
    height: 50px;
    width: 50px;

}

.post{
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid $secondary;
    padding-bottom: 10px;
}

.post_body img{
    width: 580px;
    // height: 450px;
    object-fit: contain;
    border-radius: 20px;

}

.post_footer{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;


}

.post_badge{
    font-size: 14px !important;
    color: $primary;
    margin-right: 5px;

}

.header-icon-section{
    font-weight: 600;
    font-size: 12px;
    color: grey;
}

.post_header-text h3{
    font-size: 13px;
    margin-bottom: 5px;

}

.post_header-discription{
    margin-bottom: 10px;
    font-size: 15px;
}

.post_body{ 
    flex: 1;
    padding: 10px;
}

.post_profile-image{
    padding: 20px;
}

section{
    padding: 0 10px;
}







.headerIcons {
    color: white;
    padding: 10px;
}

.iconStyle {
    font-size: 30px;
    font-weight: 600;
    margin-right: 30px;
    cursor: pointer;
}

::ng-deep {
  .modelTextArea .p-inputtext {
    height: -moz-fit-content !important;
    height: fit-content !important;
    padding-left: 1.5rem;
    width: 100%;
    padding: 0.5rem 0.5rem;
    // font-family: cursive;
    font-size: 17px;
    border: none;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s,
      box-shadow 0.2s;
    appearance: none;
    border-radius: 3px;
    background: #ffffff;
    color: black;
    overflow-y: scroll;
  }

  .p-inputtext:enabled:hover {
    border-color: transparent;
  }

  .p-inputtext:enabled:focus {
    box-shadow: none;
    border-color: transparent;
  }
  .postButton {
    .p-button {
      min-width: 90px;
      height: 36px;
      letter-spacing: 2px;
      padding-top: 5px;
      color: rgb(254, 254, 254);
      border: none;
      font-size: 20px;
      border-radius: 4px;
    }
  }

  .p-button:enabled:hover {
    color: #ffffff;
    border-color: none;
  }

  .p-button:focus {
    box-shadow: none !important;
  }
}
.uploadedImages {
  height: 45px;
  max-width: 60px;
  border-radius: 2px;
}

.uploadImageRemove {
  color: red;
  position: absolute;
  right: 30%;
  border-radius: 50%;
  padding: 3px;
  cursor: pointer;
  top: 33%;
  border: 1px solid white;
  font-size: 11px;
  // visibility: hidden;
}
.uploadedImages:hover .uploadImageRemove {
  // background-color: rgb(78, 76, 76);
  visibility: hidden;
}

.uploadDefaultImage {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-family: poppins;
  color: black;
  cursor: pointer;
}
.card {
  // box-shadow: 0 4px 8px 0#3f78b9;
  border-radius: 5px;
  padding: 15px;
  // background-color: #f2f2f2;
  color: #333;
  font-size: 16px;
  max-width: 100%;
  margin: 10px;
  border: 0.6px solid #d6cdcd;
}
.profile-img {
  width: 46px;
  height: 46px;
  border-radius: 40px;
}

.name {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
}

.name span {
  font-size: 25px;
  font-weight: 100;
}

.time {
  margin-top: 0px;
  font-size: 13px;
  font-weight: 100;
  font-family: "Poppins", sans-serif;
  color: #747373;
}

span {
  font-weight: bold;
  font-size: 18px;
}

.caption {
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  margin-left: 10px;
  margin-top: 0px;
  margin-bottom: 15px;
}
.profile-view {
  border-radius: 40px;
  height: 35px;
  border: none;
  background-color: white;
}

.likeIcon {
  color: red;
  // background-color: red;
}

.cursor {
  cursor: pointer;
}

.deletePost {
  color: red;
  font-size: 18px;
  font-family: "Poppins";
}

::ng-deep {
  .p-overlaypanel .p-overlaypanel-content {
    padding: 15px;
  }

  .p-overlaypanel {
    margin-top: 0px !important;
  }
}
.nullProfilePicture {
  opacity: 0.5;
  cursor: context-menu !important;
}

.postImage {
  width: 500px;
  max-height: 500px;
  border-radius: 3px;
  margin-bottom: 20px;
}
::ng-deep {
  .pi {
    font-size: 18px;
  }

  .p-inputtext {
    font-size: 18px;
    color: black;
    width: 90%;
    font-family: cursive;
    border: 1px solid #656565;
  }

  .p-inputtext:enabled:hover {
    border-color: #656565;
  }

  .p-inputtext:enabled:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: none !important;
    border-color: #656565;
  }

  .p-inputtext.ng-dirty.ng-invalid {
    border-color: #656565;
  }
}

.commentName {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  margin: 0px;
  color: #747373;
}

.comment {
  font-size: 22px;
  font-weight: 100;
  font-family: "Poppins", sans-serif;
  margin: 0px;
}

.commentTime {
  font-size: 14px !important;
  font-weight: 200 !important;
  margin-left: 4px !important;
}

.postFeedText {
  white-space: pre-wrap;
  margin-top: 0px;
}
